.footer{
    box-shadow: 0 0 5px 1px #ffffff2c;
    min-height: 30vh;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.footer h1{
    font-weight: 500;
    font-size: 1.8em;
}

.footer p{
    color: #AAA;
    width: 80%;
    margin: 0 auto;
}

.footer ul{
    display: flex;
    justify-content: center;
    gap: .5em;
}

.footer ul li a {
    transition: .2s;
}

.footer ul li a:hover {
    color: #AAA;
}

.social_icons {
    background-color: #404040;
    border: 1px solid #CCC;
    border-radius: 100%;
    transition: .3s;
}

.social_icons a {
    display: flex;
    padding: .5em;
    border-radius: 100%;
    align-items: center;
}

.social_icons:hover {
    background-color: transparent;
}